body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sec-pad {
    padding: 50px 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}
h1{
    font-size: 40px;
}

.button-1{
    text-decoration: none;
    background-color: deeppink;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.col-2 {
    flex-basis: 16%;
    display: inline;
    margin-top: 400px;
}

.col-4 {
    flex-basis: 32%;
    box-shadow: 2px 3px 3px 3px rgba(0,0,0,0.1);
    
}
.fa-star{
    color: orange;

}
span{
    font-size: 20px;
}
#star-color {
    color: lightgrey;
}

.col-6 {
    flex-basis: 48%;   
}

.commet{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.col-10 {
    flex-basis: 84%;
    
}

.text-center {
    text-align: center;
    font-size: 20px;
}

.text-right {
    text-align: right;  
    padding: 30px;  
}
.text-dec{
    text-decoration: none;
    color: deeppink;
    font-size: 20px;   
}

.extra{
    margin-left: 80px;
    font-size: 20px;
}
    
.extra-2{
    font-size: 15px;
    margin-left: 80px;    
}

.text-left {
    text-align: left;
}

.align-center{
    margin-top: 30px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

@media ( max-width: 680px ) {
    .col-2, .col-4, .col-6, .col-10 {
        flex-basis: 100%;
    }
    .text-center-sm {
        text-align: center;
    }
}